body {
    background-color: rgba(222, 184, 135, 0.808);
}
:root {
    --firework-url: url('https://www.freeiconspng.com/thumbs/fireworks-png/fireworks-png-image-19.png');
    --firework-tube-url: url('https://img.freepik.com/premium-vector/confetti-trumpet-icon-logo-design-template-vector-isolated-illustration_19104-888.jpg');
}
#title {
    text-align: center;
    font-family: "Lucida Handwriting", serif;
    font-size: 1.5em;
    color: rgb(101, 51, 14);
    -webkit-text-stroke: 1px black;
}

.mygrid {
    display: grid;
    width: 100vw;
    height: 30vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 30px;
    /* border: 1px, black, solid; */
}

/* cake */

.cake-box {
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents image overflow */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cake {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
    object-fit: cover; /* Ensures image covers the div */
    transition: opacity 1s ease-in-out;
}
#top-cake:hover {
    animation: fadeInOut 1s infinite;
}
@keyframes fadeInOut {
    0% {
        opacity: 1; /* Fully visible */
    }
    50% {
        opacity: 0; /* Fade out to invisible */
    }
    100% {
        opacity: 1; /* Fade back in */
    }
}

/* fireworks */
.firework-box1 {
    grid-column: 3/4;
    width: 100%;
    height: 100%;
    /* border: 1px, black, solid; */
    position: relative;
    display: flex;
}
.firework-box2 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    /* border: 1px, black, solid; */
    position: relative;
    display: flex;
}
.firework {
    width: 160px;
    height: 184px;
    background: var(--firework-url) no-repeat center/contain;
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
    position: absolute;
}
.fw-tube {
    position: absolute;
    mix-blend-mode: multiply;
    width: 240px;
    height: 180px;
    background: var(--firework-tube-url) no-repeat center/contain;
    cursor: pointer;
}
.tube1:hover ~ .firework {
    transform: translate(-50%, -50%) scale(1); 
    opacity: 1; 
}
.tube2:hover ~.firework {
    transform: translate(50%, -50%) scale(1); 
    opacity: 1;
}
.fw1 {
    left: 20px;
    transform: translate(-50%, -50%) scale(0.3);
    z-index: 1;
}
.fw2 {
    top: 50px;
    left: 0px;
    transform: translate(-50%, -50%) scale(0.3);
    z-index: 1;
}
.fw3 {
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%) scale(0.3);
    z-index: 1;
}
.fw4 {
    right: 20px;
    transform: translate(50%, -50%) scale(0.3);
    z-index: 1;
}
.fw5 {
    top: 50px;
    right: 0px;
    transform: translate(50%, -50%) scale(0.3);
    z-index: 1;
}
.fw6 {
    top: 50px;
    right: 50px;
    transform: translate(50%, -50%) scale(0.3);
    z-index: 1;
}
.tube1 {
    top: 20px;
    left: -25px;
    z-index: 2;
}
.tube2 {
    top: 20px;
    right: -20px;
    transform: rotate(60deg);
    z-index: 2;
}

table.info th {
    font-family: "Lucida Handwriting", serif;
}
.info {
    font-family: "Courier New", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
